* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  font-size: 1em;
  color: #F5F5F7;
  background-size: cover;
  background-position: center;
  background-image: url(../img/background.png);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  padding: 15px;
  font-size: 1.5em;
}

h2, h3, h4 {
  font-size: 1.2em;
}

h2 {
  padding: 10px;
  margin: 5px 0px;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
}

#contenerH1 {
  text-align: center;
}

figcaption, button {
  color: #F5F5F7;
}

div, nav {
  border: 2px solid #d2c2d8;
}

.icones {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.iconeList2 {
  -webkit-transform: translate(-25px, -5px);
          transform: translate(-25px, -5px);
}

.titleH1 {
  width: 40rem;
}

.nameProject {
  font-size: 1.2em;
}

header #contenerNav nav {
  width: 80px;
  padding: 5px;
  border-radius: 15px;
  background-color: #25233cd6;
}

header #contenerNav li {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header #contenerNav img {
  width: 50px;
}

section {
  margin: 10px;
  margin-left: 20px;
}

section .showProject {
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

section .showProject div {
  border: none;
}

section .showProject > div {
  text-align: center;
  background-color: #ffffff00;
}

section .showProject .groupProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff00;
}

section .showProject .groupProject img {
  width: 60px;
  height: 60px;
}

section .showProject .groupProject .date {
  width: 45px;
  height: 45px;
  padding-top: 1rem;
}

section .showProject .groupProject .showUserGroup, section .showProject .groupProject .showDateProject {
  width: 15rem;
  background-color: #ffffff00;
}

section div {
  border-radius: 15px;
  background-color: #25233cd6;
}

section p {
  line-height: 24px;
}

section #contener {
  width: 32rem;
  padding: 15px;
  margin-top: 25px;
}

section #contener img {
  position: absolute;
  -webkit-transform: translate(35px, 0px);
          transform: translate(35px, 0px);
}

section #contenerList {
  margin-top: 20px;
  padding: 15px 50px;
  text-align: center;
}

section #contenerList h3 {
  padding: 10px 30px;
}

section #contenerList #iconeList {
  -webkit-transform: translate(25px, -5px);
          transform: translate(25px, -5px);
}

section #contenerList img {
  position: absolute;
  margin-left: -170px;
}

section #showList {
  padding: 15px 15px 5px 20px;
  margin-top: 25px;
  width: 32rem;
}

section #showList li::first-letter {
  text-transform: uppercase;
}

section #showList img {
  width: 30px;
  height: 30px;
  position: absolute;
}

section #showList p {
  padding-top: 5px;
  margin-left: 2.5rem;
}

section #showList li {
  margin-bottom: 15px;
}

#contenerHistory {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  background-color: #25233c00;
}

#contenerHistory .contenerProject {
  border: none;
  margin-right: 1rem;
  background-color: #ffffff00;
}

#contenerHistory .contenerProject #pompompurinPunch {
  width: 120px;
  position: absolute;
  -webkit-transform: translate(110px, -102px);
          transform: translate(110px, -102px);
}

#contenerHistory .contenerProject .titleProject {
  width: 32rem;
}

#contenerHistory .showProject {
  width: 30rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

#contenerHistory .showProject div {
  border: none;
}

#contenerHistory .showProject > div {
  text-align: center;
  background-color: #ffffff00;
}

#contenerHistory .showProject .groupProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff00;
}

#contenerHistory .showProject .groupProject img {
  width: 60px;
  height: 60px;
}

#contenerHistory .showProject .groupProject .date {
  width: 45px;
  height: 45px;
  padding-top: 1rem;
}

#contenerHistory .showProject .groupProject .showUserGroup, #contenerHistory .showProject .groupProject .showDateProject {
  width: 15rem;
  background-color: #ffffff00;
}

#contenerAffiliate {
  margin-top: 91px;
}

#contenerAffiliate .showProject {
  width: 30rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

#contenerAffiliate .showProject div {
  border: none;
}

#contenerAffiliate .showProject > div {
  text-align: center;
  background-color: #ffffff00;
}

#contenerAffiliate .showProject .groupProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff00;
}

#contenerAffiliate .showProject .groupProject img {
  width: 60px;
  height: 60px;
}

#contenerAffiliate .showProject .groupProject .date {
  width: 45px;
  height: 45px;
  padding-top: 1rem;
}

#contenerAffiliate .showProject .groupProject .showUserGroup, #contenerAffiliate .showProject .groupProject .showDateProject {
  width: 15rem;
  background-color: #ffffff00;
}

#contenerAffiliate div {
  border-radius: 15px;
  background-color: #25233cd6;
}

#contenerAffiliate #firstDiv {
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contenerAffiliate #firstDiv img {
  -webkit-transform: translate(-10px, -3px);
          transform: translate(-10px, -3px);
}

#sectionForm {
  padding: 0px;
  margin: 30px 0px;
}

#sectionForm > div {
  margin-bottom: 20px;
}

#sectionForm form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionForm input {
  padding: 5px;
  border-radius: 2px;
}

#sectionForm label {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#sectionForm button {
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
}

#sectionForm select {
  padding: 5px;
}

#sectionForm #formStudentAdd {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #4bc998;
}

#sectionForm #formStudentAdd:hover {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #359a73;
}

#sectionForm #formDelete {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #ff515c;
}

#sectionForm #formDelete:hover {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #b74c53;
}

#formAssignation label {
  text-align: unset;
  margin-bottom: 10px;
}

#formAssignation input {
  margin-bottom: 10px;
}

#formAssignation button {
  padding: 10px;
  margin-top: 20px;
}

#cercle {
  width: 6px;
  height: 6px;
  margin: 5px -12px;
  position: absolute;
  border: 1px solid white;
}

.cercleActif {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #6ee09c;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

#pompompurin {
  width: 120px;
  position: absolute;
  -webkit-transform: translateY(-96px);
          transform: translateY(-96px);
}

#pompompurinHello {
  width: 120px;
  position: absolute;
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

#pompompurinTurn {
  width: 120px;
  position: absolute;
  -webkit-transform: translateY(-91px);
          transform: translateY(-91px);
}
/*# sourceMappingURL=style.css.map */