* {
	margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
	font-size: 100%;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}
*:focus {
  outline: none;
}
// VARIABLES
$color-white: #F5F5F7;
$color-violet: #483D8B;
$color-background-violet: #25233cd6;

body {
  height: 100vh;
  font-size: 1em;
  color: $color-white;
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  background-image: url(../img/background.png);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main{
  padding: 20px;
  display: flex;
}
h1,h2,h3,h4{
  text-align: center;
  text-transform: uppercase;
}

#contenerH1{
  text-align: center;
}

figcaption, button{
  color: $color-white;
}

div, nav{
  border: 2px solid #d2c2d8;
}

.icones{
  width: 40px;
  object-fit: contain;
}
.titleH1{
  width: 40rem;
}

header{
  #contenerNav{
    nav{
      width: 80px;
      padding: 5px;
      border-radius: 15px;
      background-color: $color-background-violet;
    }
    li{
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    img{
      width: 50px;
    }
  }
}

section{
  margin: 10px;
  margin-left: 20px;
  div{
    border-radius: 15px;
    background-color: $color-background-violet;
  }
  h1{
    padding: 15px;
    font-size: 22px;
    font-weight: 300;
  }  
  h2{
    padding: 10px;
    font-size: 21px;
    margin: 5px 0px;
  }
  p{
    line-height: 24px;
  }
  #contener{
    padding: 15px;
    margin-top: 25px;
    img{
      position: absolute;
      margin-left: 90px;
    }
  }
  #contenerList{
    padding: 15px 50px;
    margin-top: 20px;
    text-align: center;
    h3{
      padding: 10px 30px;
    }
    img{
      position: absolute;
      margin-left: -170px;
    }
  }
  #showList{
    padding: 15px 15px 5px 20px;
    margin-top: 25px;
    li::first-letter{
      text-transform: uppercase;
    }
    img{
      width: 30px;
      height: 30px;
      position: absolute;
    }
    p{
      padding-top: 5px;
      margin-left: 2.5rem;
    }
    li{
      margin-bottom: 15px;
    }
  }
}

#contenerHistory{
  border: none;
  display: flex;
  margin-top: 1rem;
  background-color: #25233c00;
  .contenerProject {
    border: none;
    margin-right: 1rem;
    background-color: #ffffff00;
    #pompompurinPunch{
      width: 120px;
      position: absolute;
      transform: translate(110px, -102px);
    }
    .titleProject{
      width: 32rem;
    }
  }
  .showProject{
    width: 30rem;
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    div {
      border: none;
    }
    > div {
      text-align: center;
      background-color: #ffffff00;
    }
    .groupProject{
      display: flex;
      justify-content: space-between;
      background-color: #ffffff00;
      img {
        width: 60px;
        height: 60px;
        // position: absolute;
        // transform: translate(-130px, -25px);   
      }
      p{
        // margin-left: 3.5rem;
        // text-align: initial;
      }
      .date{
        width: 45px;
        height: 45px;
        padding-top: 1rem;
        // position: absolute;
        // transform: translate(-85px, -3px);
      }
      .showUserGroup, .showDateProject{
        width: 15rem;
        background-color: #ffffff00;
      }
    }
  }
}

#contenerAffiliate{
  margin-top: 91px;
  div{
    padding: 15px;
    border-radius: 15px;
    background-color: $color-background-violet;
  }
  #firstDiv{
    width: 255px;
    display: flex;
    padding-left: 15px;  
  }
  h3{
    padding: 15px 0px 0px 10px;
  }
  #showGroups{
    border: none;
    width: 566px;
    padding-left: 0px;
    background-color: #ffffff00;
    img {
      width: 50px;
      height: 50px;
      position: absolute;
      transform: translate(0px, -25px);
    }
    p{
      margin-left: 3.5rem;
    }
    .date{
      margin: 0px;
    }
    > div {
      margin-bottom: 10px;
    }
    > div > div, > div > div > div{
      padding: 0px;
      border-radius: 0px;
      border: none;
      background-color: #ffffff00;
    }
    > div > div {
        display: flex;
        justify-content: space-between;
    }
    p::first-letter { 
      text-transform: uppercase;
    }
    .titleProject{
      display: flex;
      margin-bottom: 15px;
      justify-content: center;
      width: 32rem;
    }
  }
}

#sectionForm{
  padding: 0px;
  margin: 30px 0px;
  > div{
    margin-bottom: 20px;
  }
  form{
    display: flex;
    width: 325px;
    flex-direction: column;
  }
  input{
    padding: 5px;
  }
  label{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  button{
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
  }
  select{
    padding: 5px;
  }
  #formStudentAdd{
    transition: all 1.5s;
    background-color: #4bc998;
  }
  #formStudentAdd:hover{
    transition: all 1.5s;
    background-color: #359a73;
  }
  #formDelete{
    transition: all 1.5s;
    background-color: #ff515c;
  }
  #formDelete:hover{
    transition: all 1.5s;
    background-color: #b74c53;
  }
}

#formAssignation{
  label{
    text-align: unset;
    margin-bottom: 10px;
  }
  input{
    margin-bottom: 10px;
  }
  button{
    padding: 10px;
    margin-top: 20px;
  }
}

#cercle{
  width: 6px;
  height: 6px;
  margin: 5px -12px;
  position: absolute;
  border: 1px solid white;
}
.cercleActif{
  transition: all 1.5s;
  background-color: #6ee09c;
  transition-property: background-color;
}

#pompompurin{
  width: 120px;
  position: absolute;
  transform: translateY(-96px);
}
#pompompurinHello{
  width: 120px;
  position: absolute;
  transform: translateY(-85px);
}
#pompompurinTurn{
  width: 120px;
  position: absolute;
  transform: translateY(-91px);
}