<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="../../img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="../../img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="../../img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle"></div>
                <figcaption>Students</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="../../img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle" class="cercleActif"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1">
        <h1>Tech watch Assignator</h1>
      </div>
      <div id="contenerList">
        <img style="margin-left: -140px;" class="icones" src="../../img/project.png" alt="History Tech-watch" />
        <h3>Next Projects</h3>
      </div>
      <% for (let project of projects) { %>
        <div class="showProject"> 
          <div class="titleProjectName">
            <%= project.subject %>
          </div>
          <div class="groupProject">
            <div class="showUserGroup">
              <img src="/img/colleagues.png"> 
              <p><%= project.group.join(" - ") %></p>
            </div>
            <div class="showDateProject">
              <img class="date" src="/img/calendar.png"> 
              <p><%= project.deadline %></p>
            </div>
          </div>
        </div>
      <%}%>
    </section>
    <section id="contenerAffiliate">
      <img id="pompompurin" src="/gifs/gif.gif" alt="gif pompompurin" />
      <div id="firstDiv">
          <img class="icones" src="../../img/crowTeam.png" alt="History Tech-watch" />
          <h3>Add tech-watch</h3>
      </div>
      <section id="sectionForm">
        <div>
          <form method="POST" action="/projects" id="formAssignation">
            <label>Subject</label>
            <input name="subject" required placeholder="Subject"/>
            <label>Deadline</label>
            <input type="date" name="deadline" required placeholder="Deadline"/>
            <label>Select number</label>
            <input type="text" required name="number" >
            <button id="formStudentAdd">Create Tech-watch</button>
          </form>
        </div>
      </section>
    </section>
  </main>

  <% if (error) { %>
    <script>setTimeout(() => { window.alert("<%=error%>") }, 200)</script>
  <% } %>
</body>
</html>