<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="/img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle" class="cercleActif"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="/img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="/img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle"></div>
                <figcaption>Students</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="/img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1">
        <h1>Tech watch Assignator</h1>
      </div>
      <div id="contener">
        <img class="icones" src="/img/welcome.png" alt="History Tech-watch" />
        <h2>Welcome tech-watch user !</h2>
        <p>
          On this home page, you can take a look at the future projects. <br>
          You can also find which students have not been assigned yet.<br><br>              
          Using the menu, you can access the history page showing future and past projects and the students list. <br>
          Finally, the assign page allows you to check out the future projects and to create your own.
        </p>
      </div>
      <div id="contenerList">
        <img class="icones" src="/img/test.png" alt="History Tech-watch" />
        <h3>List of available students</h3>
      </div>
      <div id="showList">
        <ul>
          <% for (let student of students) { %>
              <li><%= student %></li>
          <%}%>
      </ul>
      </div>
    </section>
    <section id="contenerAffiliate">
      <div id="firstDiv">
        <img class="icones" src="/img/teamwork (1).png" alt="History Tech-watch" />
        <h3>The two next projects</h3>
      </div>
      <div id="showGroups">
        <% for (let project of projects) { %>
          <div>
            <%= project.subject %>
            <%= project.deadline %>
            <%= project.group.join(" - ") %>

          </div>
        <%}%>
      </div>
    </section>
  </main>
</body>
</html>