<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="../../img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle" class="cercleActif"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="../../img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="../../img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle"></div>
                <figcaption>Student</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="../../img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1">
        <h1>My Tech watch Assignator</h1>
      </div>
      <div id="contener">
        <img class="icones" src="../../img/welcome.png" alt="History Tech-watch" />
        <h2>Welcome tech-watch user !</h2>
        <p>
          On this page you could take a look to the next tech-watch we will assist. <br /> 
          You can find witch students will have to do the next presentation and when. <br /> 
          <br /> 
          Also, as you can see, above this section there is a menu. This menu offer you diverse options <br /> 
          like, take a look about the tech-watch we had already assist, see the list of students availaible <br /> 
          for do a tech-watch, a page for create the next tech-watch. <br /> 
          <br /> 
          Don’t be shy and try to go on diverses part of the website !
        </p>
      </div>
      <div id="contenerList">
        <img class="icones" src="../../img/test.png" alt="History Tech-watch" />
        <h3>List of students tech-watch soon</h3>
      </div>
      <div id="showList">
        <p>List...</p>
      </div>
    </section>
    <section id="contenerAffiliate">
      <div id="firstDiv">
        <img class="icones" src="../../img/teamwork (1).png" alt="History Tech-watch" />
        <h3>Students affiliate</h3>
      </div>
      <div id="showGroups">
        <p>Groups...</p>
      </div>
    </section>
  </main>
</body>
</html>