kk<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="../../img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="../../img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="../../img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle" class="cercleActif"></div>
                <figcaption>Students</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="../../img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1">
        <h1>My Tech watch Assignator</h1>
      </div>
      <div id="contenerList">
        <img class="icones" src="../../img/test.png" alt="History Tech-watch" />
        <h3>List of students TECH-WATCH SOON</h3>
      </div>
      <div id="showList">
        <p>List...</p>
      </div>
    </section>
    <section id="contenerAffiliate">
      <div id="firstDiv">
          <img class="icones" src="../../img/teamwork (1).png" alt="History Tech-watch" />
          <h3>Students</h3>
      </div>
      <section id="sectionForm">
        <div>
          <form>
            <label>Ajouter</label>
            <input name="student" placeholder="Name"/>
            <submit id="formStudentAdd">Ajouter</submit>
          </form>
        </div>
        <div>
          <form>
            <label>Delete</label>
            <select>
              <option>Select Student </option>
              <option>Francis</option>
            </select>
            <submit id="formDelete">delete</submit>
          </form>
        </div>
      </section>
    </section>
  </main>
</body>
</html>